html body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.main-nav {
    text-align: center;
    font-size: 1.5rem;
}

.header {
    padding: 10px 0px;
    background-color:#303F9F;
}

.search-div {
    margin: 20px auto;
    width: 30%;
}

.search-input {
    width: 100%;
    border: 1px solid tan;
    border-radius: 8px;
    padding: 10px;
    height: 20px;
}

.pet-list {
    padding: 30px;
    display: flex;
}

.statement {
    margin-right: 50px;
}

.statement-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 1px ;
}